:root{
 /*use later */
}

html, body {
  background-color: rgba(10, 15, 35, 0.8);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

main {
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
}

.gradient-text{
  background: linear-gradient(135deg, #8b5cf6 20%, #06b6d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: linear-gradient(135deg, #8b5cf6 0%, #06b6d4 100%);
}

.textclip{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.margin-vertical {
  margin-top: 40px;
  margin-bottom: 40px;
}

.glow {
    box-shadow: 0 0 20px rgba(100,100,255,0.2);
    transition: transform .3s ease, box-shadow .3s ease;
  }

.glow-hover:hover {
    transform: scale(1.07);
    box-shadow: 0 0 30px rgba(120,120,255,0.35);
    transition: transform .3s ease, box-shadow .3s ease;
}

/*USED IN ABOUT*/
.info {
  border-radius: 20px;     
  padding: 5px; 
  background: linear-gradient(135deg, #8b5cf6 0%, #06b6d4 100%);
  width: 80%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.info .inner {
  border-radius: 15px;
  background-color: #0e122d;
  padding: 30px;
}
