 body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    position: relative;;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.2rem;
  }

  .navbar-brand img {
    height: 40px;
    margin-right: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: large;
    transition: color 0.2s ease;
  }

  .navbar-brand{
    display: flex;
    align-items: center;
  }

  .btn {
    background: #222;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s;
    margin-right: 20px;
  }

  .btn:hover {
    background: #000;
  }